/* pc 우선 css */
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,300i,400,500,600,700,700i,900&display=swap');
body {
    background: #f6f2f1;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}
header {
    height: 65px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    align-items: center;
}
footer {
    position: absolute;
    top: 50%;
    font-size: 12px;
    right: -90px;
    transform: translate(0, -50%) rotate(-270deg);

}
input:focus {outline:none;}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
.page_top {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
    margin: 0 auto;
    height: 50px;
    transition-property: opacity margin-top;
    transition-duration: 1s;
}

.date {
    display: flex;
    align-items: flex-end;
    padding: 5px;
    font-style: italic;
}

.search {
    display: flex;
    align-items: flex-end;
    padding: 5px;
}

#search_icon {
    position: absolute;
    right: 47px;
    top: 9px;
    width: 45px;
}

.page_top > .search > input {
    background: #f6f2f1;
    border: 2px solid black;
    border-radius: 50px;
    width: 210px;
    height: 30px;
    padding: 0 38px 0 20px;

}

.container {
    border: 3px solid black;
    width: calc(100% - 100px);
    margin: 0 auto;
    height: calc(100% - 100px);
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: calc(100% - 94px);
    background: #f6f2f1;
    z-index: 1;
    margin-top: 50px;
}
.container::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 47px;
    height: 70px;
    background: #f6f2f1;
    z-index: 1;
    margin-top: 50px;
}

.left_menu {
    float: left;
    width: 250px;
    height: calc(100% - 68px);
    border-right: 3px solid black;
    transition-property: opacity margin-left;
	transition-duration: 1s;
}

.section_wrapper {
    height: calc(100% - 68px);
    overflow-y: auto;
}

.categories {
    background: #000;
    color: #fff;
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.opened {

}

.selected {

}

.recent_post {
    background: #000;
    color: #fff;
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.category_item {
    font-weight: 700;
    margin: 8px;
}

.category_item > img {
    width: 13px;
    height: 13px;
    margin: -2px 0;
}

.category_list {
    color: #7a7777;
}

.category_list.selected{
    text-decoration: underline;
}

.category_item_wrap {
    padding: 10px 15px;
}

.category_item > ul {
    padding: 8px 0;
}

.post_category {
    font-weight: 600;
}

.recent_post_wrap {
    padding: 10px 15px;
}

.recent_post_wrap > li {
    font-size: 0.875rem;
    margin: 8px;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} 
.recent_post_wrap > li:hover {
    text-decoration: underline;
    cursor: pointer;
} 

.pointer {
    cursor: pointer;
}

.header_alarm {
    position: relative;
}
.header_alarm > img{
    width: 35px;
    padding-left: 20px;
}

.alarm_badge {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #e04848;
    text-align: center;
    border-radius: 50%;
    font-size: 0.825rem;
    line-height: 20px;
    top: 18px;
    color: #fff;
    right: -8px;
}
.header_title {
    display: flex;
    align-items: center;
}
.header_title > img {
    width: 50px;
}
.bold900 {
    font-weight: 900;
}
.header_right {
    display: flex;
}
.signup {
    padding: 23px;
    border-left: 2px solid #000;
}
.signin {
    padding: 23px;
    background: #000;
}
.signin span {
    color: #fff;
}
.header_right>a:first-child,
.header_right>a:nth-child(2) {
    transition-property: opacity margin-right;
    transition-duration: 0.7s;
    
}
.header_right>a:nth-child(2) {
    margin-right: 35px;    
}
.header_right > a:nth-child(3) {
    opacity: 0;
    margin-right: -70px;
    margin-top: 15px;
    transition-property: opacity margin-right;
    transition-duration: 0.5s;
}

/* HamburgerMenu css Start */
.menu-btn {
  position: relative;
  display: block;
  width: 35px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn .menu-row {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1px;
}
.menu-btn .menu-row {
  left: 0;
  background-color: #747474;
}

.menu-btn.style-3 .menu-row {
  visibility: visible;
  -webkit-transform-origin: 2px 50%;
          transform-origin: 2px 50%;
  -webkit-transition: all 500ms cubic-bezier(0.8, -0.25, 0.2, 1.25);
  transition: all 500ms cubic-bezier(0.8, -0.25, 0.2, 1.25);
}
.menu-btn.style-3 .menu-row.top {
  -webkit-transform: translate(0%, -11px) rotate(0deg) translateZ(0) scale(1, 1);
          transform: translate(0%, -11px) rotate(0deg) translateZ(0) scale(1, 1);
}
.menu-btn.style-3 .menu-row.mid {
  opacity: 1;
  -webkit-transform: translate(0%, 0px) translateZ(0) scale(1, 1);
          transform: translate(0%, 0px) translateZ(0) scale(1, 1);
}
.menu-btn.style-3 .menu-row.bot {
  -webkit-transform: translate(0%, 11px) rotate(0deg) translateZ(0) scale(1, 1);
          transform: translate(0%, 11px) rotate(0deg) translateZ(0) scale(1, 1);
}
.menu-btn.style-3.open .menu-row {
  -webkit-transition: all 0ms linear;
  transition: all 0ms linear;
}
.menu-btn.style-3.open .menu-row.top {
  -webkit-transform: translate(calc(80% - 1px), -11px) rotate(-225deg) translateZ(0) scale(1, 1);
          transform: translate(calc(80% - 1px), -11px) rotate(-225deg) translateZ(0) scale(1, 1);
  -webkit-animation: key-3-top 500ms cubic-bezier(0.8, -0.25, 0.2, 1.25);
          animation: key-3-top 500ms cubic-bezier(0.8, -0.25, 0.2, 1.25);
}
.menu-btn.style-3.open .menu-row.mid {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(50%, 0px) translateZ(0) scale(1, 1);
          transform: translate(50%, 0px) translateZ(0) scale(1, 1);
  -webkit-animation: key-3-mid 500ms cubic-bezier(0.8, -0.25, 0.2, 1.25);
          animation: key-3-mid 500ms cubic-bezier(0.8, -0.25, 0.2, 1.25);
}
.menu-btn.style-3.open .menu-row.bot {
  -webkit-transform: translate(calc(80% - 1px), 11px) rotate(225deg) translateZ(0) scale(1, 1);
          transform: translate(calc(80% - 1px), 11px) rotate(225deg) translateZ(0) scale(1, 1);
  -webkit-animation: key-3-bot 500ms cubic-bezier(0.8, -0.25, 0.2, 1.25);
          animation: key-3-bot 500ms cubic-bezier(0.8, -0.25, 0.2, 1.25);
}

@-webkit-keyframes key-3-top {
  0% {
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(0%, -11px) rotate(0deg) translateZ(0) scale(1, 1);
            transform: translate(0%, -11px) rotate(0deg) translateZ(0) scale(1, 1);
  }
  100% {
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(calc(-80% + 2px), -11px) rotate(225deg) translateZ(0) scale(1, 1);
            transform: translate(calc(-80% + 2px), -11px) rotate(225deg) translateZ(0) scale(1, 1);
  }
}

@keyframes key-3-top {
  0% {
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(0%, -11px) rotate(0deg) translateZ(0) scale(1, 1);
            transform: translate(0%, -11px) rotate(0deg) translateZ(0) scale(1, 1);
  }
  100% {
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(calc(-80% + 2px), -11px) rotate(225deg) translateZ(0) scale(1, 1);
            transform: translate(calc(-80% + 2px), -11px) rotate(225deg) translateZ(0) scale(1, 1);
  }
}
@-webkit-keyframes key-3-mid {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(0%, 0px) translateZ(0) scale(1, 1);
            transform: translate(0%, 0px) translateZ(0) scale(1, 1);
  }
  100% {
    opacity: 0;
    visibility: visible;
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(-50%, 0px) translateZ(0) scale(1, 1);
            transform: translate(-50%, 0px) translateZ(0) scale(1, 1);
  }
}
@keyframes key-3-mid {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(0%, 0px) translateZ(0) scale(1, 1);
            transform: translate(0%, 0px) translateZ(0) scale(1, 1);
  }
  100% {
    opacity: 0;
    visibility: visible;
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(-50%, 0px) translateZ(0) scale(1, 1);
            transform: translate(-50%, 0px) translateZ(0) scale(1, 1);
  }
}
@-webkit-keyframes key-3-bot {
  0% {
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(0%, 11px) rotate(0deg) translateZ(0) scale(1, 1);
            transform: translate(0%, 11px) rotate(0deg) translateZ(0) scale(1, 1);
  }
  100% {
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(calc(-80% + 2px), 11px) rotate(-225deg) translateZ(0) scale(1, 1);
            transform: translate(calc(-80% + 2px), 11px) rotate(-225deg) translateZ(0) scale(1, 1);
  }
}
@keyframes key-3-bot {
  0% {
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(0%, 11px) rotate(0deg) translateZ(0) scale(1, 1);
            transform: translate(0%, 11px) rotate(0deg) translateZ(0) scale(1, 1);
  }
  100% {
    -webkit-transform-origin: calc(100% - 2px) 50%;
            transform-origin: calc(100% - 2px) 50%;
    -webkit-transform: translate(calc(-80% + 2px), 11px) rotate(-225deg) translateZ(0) scale(1, 1);
            transform: translate(calc(-80% + 2px), 11px) rotate(-225deg) translateZ(0) scale(1, 1);
  }
}

/* Hamburger Menu End */

/* 작은 기기들 (ipad pro notebook, 1350px 이상) */
@media (max-width: 1350px) { 
    footer {
        display: none;
    }
    
    .page_top {
        opacity: 0;
        margin-top: -50px;
        overflow: hidden;
    }
    .header_right>a:first-child,
    .header_right>a:nth-child(2) {
        opacity: 0;
        margin-right: -120px;
        overflow: hidden;
    }
    .left_menu {
        opacity: 0;
        margin-left: -300px;  
        overflow: hidden;
    }
    .header_right > a:nth-child(3) {
        opacity: 1;
        margin-right: 15px;
        margin-top: 15px;
        transition-delay: 0.4s;

    }
    .container {
        margin-top: 50px;
    }
    .container::before {
        margin-top: 0px;
    }
    .container::after {
        margin-top: 100px;
    }
}

/* 작은 기기들 (moblie, 500px 이상) */
@media (max-width: 500px) {
    .header_right>a:first-child,
    .header_right>a:nth-child(2) {
        display: none;
    }
    .container {
        width: calc(100% - 40px);
        margin-top: 20px;
        height: calc(100% - 40px);
    }
    .container::before {
        display: none;
    }
    .container::after {
        display: none;
    }
}




